.states-map-container {
    width: 90vw;
    display: flex;
    justify-content: center;
}

.state {
    fill: #274f5c;
    cursor: pointer;
}

.state:hover {
    fill: #356879;
}

.info-box {
    width: 250px;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .info-box {
        position: unset;
        margin: 0 auto;
    }

    .states-map-container {
        width: 100vw;
    }
}

.info-box h2 {
    color: #274f5c;
}

.info-box img {
    width: 35px;
    fill: #274f5c;
}

.info-box p {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 22px;
    line-height: 18px;
}

.info-box p strong {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
}

.exit {
    float: left;
    border: 0.5px solid;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

#tooltip {
    display: none;
    position: absolute;
    background: white;
    border: 0.5 solid #e7e7e7;
    padding: 10px;
    z-index: 1000;
    pointer-events: none;
}